#navbar{
    height: 50px;
    background-color: black;
    
}
#logo{
    float: left;
    padding: 2px;
}
#logoDetails{
    height: 45px;
    background-color: black;
    color: white;
    width: 100px;
    font-size: x-large;
    font-weight: 10px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 2px;
    transition-duration: 0.5;
    cursor: pointer;
    border: 2px solid white;
}
#logoDetails:hover{
    background-color: white;
    color: black;
}
#links{
    float: right;
    padding: 2px;
    width: 800px;
    margin-right: 0px;
    padding-right: 0px;
}
.text{
    color: white; 
    text-decoration: none;
     
}
.decor{
    height: 45px;
    background-color: black;
    width: 150px;
    font-size: large;
    font-family:'Courier New', Courier, monospace;
    letter-spacing: 2px;
    transition-duration: 0.5;
    cursor: pointer;
    color: white;
}

.decor:hover{
    background-color: rgba(255, 255, 255, 0.219);
    color: black;
}
#info2{
    border: 3px solid black;
    font-family:'Courier New', Courier, monospace;
    font-size: x-large;
    border-radius: 15px;
    padding: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.425);
    }
    #info3{
        border: 3px solid black;
        font-family:'Courier New', Courier, monospace;
        font-size: x-large;
        border-radius: 15px;
        padding: 5px;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.425);
    }
    #layout{
        height: 450px;
        background-color: black;
        border-radius: 50px;
        box-shadow: 5px 20px 10px rgba(0, 0, 0, 0.386);
        padding: 5px;
        }
        #layout:hover{
        transform: scale(1);
        transition: 1s;
        }
        #bir{
        background-color: white;
        width: 750px;
        padding: 40px;
        margin-left: 40px;
        margin-top: 10px;
        border: 5px solid black;
        border-radius: 50px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: larger;
        }
        #bir:hover{
        transform: scale(1.1);
        transition: 1s;
        }
        #but{
        background-color: white;
        width: 750px;
        padding: 40px;
        margin-left: 40px;
        margin-top: 5px;
        border: 5px solid black;
        border-radius: 50px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: larger;
        }
        #but:hover{
        transform: scale(1.1);
        transition: 1s;
        }
        #pan{
        background-color: white;
        width: 750px;
        padding: 40px;
        margin-left: 40px;
        margin-top: 5px;
        border: 5px solid black;
        border-radius: 50px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: larger;
        }
        #pan:hover{
        transform: scale(1.1);
        transition: 1s;
        }
        #imgs{
            height: 500px;
            background-color: darkgray;
            border-radius: 40px;
            box-shadow: 5px 5px 10px gray;
            }
         #biry{
            float: left;
            height: 450px;
            border-radius: 40px;
            }
            #butt{
            float: right;
            border-radius: 40px;
            padding: 5px;
            height: 475px;
            }
            #biry:hover{
            background-color: white;
            color: black;
            transition: 1s;
            }
            #butt:hover{
            background-color: white;
            color: black;
            transition: 1s;
            }
            #info4{
                border: 3px solid black;
                font-family:'Courier New', Courier, monospace;
                font-size: x-large;
                border-radius: 15px;
                padding: 5px;
                box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.425);
            }
            #layout{
                height: 450px;
                background-color: black;
                border-radius: 50px;
                box-shadow: 5px 20px 10px rgba(0, 0, 0, 0.386);
                padding: 5px;
                }
                #layout:hover{
                transform: scale(1);
                transition: 1s;
                }
                #mas{
                background-color: white;
                width: 750px;
                padding: 40px;
                margin-left: 40px;
                margin-top: 10px;
                border: 5px solid black;
                border-radius: 50px;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                font-size: larger;
                }
                #mas:hover{
                transform: scale(1.1);
                transition: 1s;
                }
                #idl{
                background-color: white;
                width: 750px;
                padding: 40px;
                margin-left: 40px;
                margin-top: 5px;
                border: 5px solid black;
                border-radius: 50px;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                font-size: larger;
                }
                #idl:hover{
                transform: scale(1.1);
                transition: 1s;
                }
                #che{
                background-color: white;
                width: 750px;
                padding: 40px;
                margin-left: 40px;
                margin-top: 5px;
                border: 5px solid black;
                border-radius: 50px;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                font-size: larger;
                }
                #che:hover{
                transform: scale(1.1);
                transition: 1s;
                }
                #imgs{
                    height: 500px;
                    background-color: darkgray;
                    border-radius: 40px;
                    box-shadow: 5px 5px 10px gray;
                    }
                 #dosa{
                    float: left;
                    height: 475px;
                    border-radius: 40px;
                    }
                    #idli{
                    float: right;
                    border-radius: 40px;
                    padding: 5px;
                    height: 475px;
                    }
                    #dosa:hover{
                    background-color: white;
                    color: black;
                    transition: 1s;
                    }
                    #idli:hover{
                    background-color: white;
                    color: black;
                    transition: 1s;
                    }
                    #info5{
                        border: 3px solid black;
                        font-family:'Courier New', Courier, monospace;
                        font-size: x-large;
                        border-radius: 15px;
                        padding: 5px;
                        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.425);
                    }
                    #layout{
                        height: 450px;
                        background-color: black;
                        border-radius: 50px;
                        box-shadow: 5px 20px 10px rgba(0, 0, 0, 0.386);
                        padding: 5px;
                        }
                        #layout:hover{
                        transform: scale(1);
                        transition: 1s;
                        }
                        #gul{
                        background-color: white;
                        width: 750px;
                        padding: 40px;
                        margin-left: 40px;
                        margin-top: 10px;
                        border: 5px solid black;
                        border-radius: 50px;
                        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                        font-size: larger;
                        }
                        #gul:hover{
                        transform: scale(1.1);
                        transition: 1s;
                        }
                        #ras{
                        background-color: white;
                        width: 750px;
                        padding: 40px;
                        margin-left: 40px;
                        margin-top: 5px;
                        border: 5px solid black;
                        border-radius: 50px;
                        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                        font-size: larger;
                        }
                        #ras:hover{
                        transform: scale(1.1);
                        transition: 1s;
                        }
                        #pay{
                        background-color: white;
                        width: 750px;
                        padding: 40px;
                        margin-left: 40px;
                        margin-top: 5px;
                        border: 5px solid black;
                        border-radius: 50px;
                        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                        font-size: larger;
                        }
                        #pay:hover{
                        transform: scale(1.1);
                        transition: 1s;
                        }
                        #imgs{
                            height: 500px;
                            background-color: darkgray;
                            border-radius: 40px;
                            box-shadow: 5px 5px 10px gray;
                            }
                         #jamu{
                            float: left;
                            height: 475px;
                            border-radius: 40px;
                            }
                            #rasg{
                            float: right;
                            border-radius: 40px;
                            padding: 5px;
                            height: 475px;
                            }
                            #jamu:hover{
                            background-color: white;
                            color: black;
                            transition: 1s;
                            }
                            #rasg:hover{
                            background-color: white;
                            color: black;
                            transition: 1s;
                            }
                            #footer{
                                background-color: black;
                                height: 200px;
                                color: white;
                                padding-top: 25px;
                                }
                                .fa {
                                padding: 20px;
                                font-size: 30px;
                                width: 50px;
                                text-align: center;
                                text-decoration: none;
                                margin: 5px 2px;
                                }
                                
                                .fa:hover {
                                opacity: 0.7;
                                }
                                
                                .fa-facebook {
                                background: #3B5998;
                                color: white;
                                }
                                
                                .fa-twitter {
                                background: #55ACEE;
                                color: white;
                                } 
                              
